@page "/messagehomeview"
@namespace KLMvvm

<h3>Message Aggregator</h3>

<div>
	<label>Counter publisher</label>
	<MessageView></MessageView>
</div>

<div style="margin-top: 40px;">
	<label>Counter subscriber</label>
	<MessageListenerView></MessageListenerView>
</div>