@inherits ComponentViewBase<MessageListenerViewModel>
@namespace OneStreamWebMvvm
@using OneStreamWebUI.Mvvm.Toolkit


<div style="margin-top: 20px;">

    <p style="margin-top: 20px;">@Bind( x => x.MessageText)</p>
  
</div>